* {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  margin: 0 auto;
  padding: 0;
}

html, body {
  background-color: #d1d1d1;
  margin: 0;
  padding: 0;
}

.navbar_container {
  width: 100%;
  background: white;
  color: black;
}

.navbar_items {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.navbar_items h1 {
  font-weight: 600;
  font-size: 40px;
}

.navbar_items ul {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

.navbar_items ul li {
  padding: 10px;
  font-size: 18px;
  cursor: pointer;
}

/* .navbar_items ul li:hover {
  color: #397eb2;
} */

.navbar_button {
  font-size: 18px;
  padding: 8px 24px;
  border-radius: 20px;
  background-color: #345eb4;
  color: white;
  border: none;
  cursor: pointer;
  transition: 180ms ease-in;
}

.navbar_button:hover {
  background-color: #457eef;
  transform: scale(0.9);
}